{% extends "mentorski/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="content-section col-md-8 offset-md-2">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="from-group">
                <legend class="border-bottom mb-4">Prijava</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-secondary" type="submit">Prijavi se</button>
            </div>
        </form>
        <div class="border-top pt-3">
            <small class="text-muted">Trebate račun?<a class="ml-2" href="{% url 'mentorski-registracija' %}">Registracija</a></small>
        </div>
</div>
{% endblock %}